.container{
    padding: 5% 5%;
    margin: 5% 5%;
}


.navbar-brand{
    font-weight: bolder;
    font-size: 32px;
}

#addBook{
    margin-right: 20px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

#price{
    width: 20%;
}

#datePicker{
    width: 20%;
}

#submitBtn{
    padding: 5px 30px;
    margin-top: 10px;
}